*{
  font-family: Helvetica, Arial, Sans-serif;
}

h1,
.main-banner {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  }
p,
li {
  font-size: 18px;
}
a {
  text-decoration: none;
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
strong {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
h2.frames {
  background-color: lightcoral;
}
h2.paint {
  background-color: skyblue;
}
